@bouncyEasing: .6s  cubic-bezier(0.470, 0.000, 0.060, 1.210);
@regularEasing: .4s ease;

//Colors 1
@bgColor: #E4EFF4;
@bgColorLight: #F7FBFC;
@bgColorLighter: #EFF6F9;


@mainTextColor: #4A5258;
@mutedTextColor: #98B2C1;
@activeColor: #4AAEE7;

*{
  box-sizing: border-box;
}

body {
  background-color: @bgColor;
  color: @mainTextColor;
  margin: 30px;
  font-family: Avenir-Medium;
}

.controls {
  position: absolute;
  left: 20px;
  top: 20px;
}

.messenger-wrap {
  margin: 0 auto;
  width: 375px;
  height: 600px;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.messenger-wrap-inner {
  width: 375px;
  height: 600px;
}

.messenger-header {
  height: 63px;
  width: 375px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 0px 15px 0px #DCE8F4;
  border-radius: 5px 5px 0px 0px;
}

.messenger-header-title, .messenger-header-chatName {
  position: absolute;
  width: 200px;
  left: 50%;
  top: 0;
  margin: 0 0 0 -100px;
  font-size: 16px;
  height: 63px;
  line-height: 63px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: all .6s ease;
}

.messenger-header-title--hidden, .messenger-header-chatName--hidden {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

.messenger-header-icon {
  width: 17px;
  position: absolute;
  left: 15px;
  top: 23px;
  transform: translate3d(0, 0, 0);
}

.messenger-header-icon .line {
  height: 2px;
  width: 15px;
  border-radius: 3px;
  margin: 3px 0;
  background-color: @activeColor;
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all .2s linear;
}

.messenger-header-icon .line.line-1 {
  transform: scaleX(.8) translate3d(-2px, 0, 0)
}

.messenger-header-icon .line.line-2 {
  transform: scaleX(.5) translate3d(-8px, 0, 0)
}

.messenger-header-icon .line.line-3 {
  transform: scaleX(1)
}


.messenger-header-icon--back .line.line-1 {
  transform: rotate(-45deg);
}

.messenger-header-icon--back .line.line-2 {
  opacity: 0;
}

.messenger-header-icon--back .line.line-3 {
  transform: rotate(45deg);
}

.messenger-chat-list {
  display: block;
  background-color: @bgColorLight;
  padding: 80px 0 0 0;
  width: 375px;
  height: 600px;
  transform: translate3d(0, 0, 0);
  position: relative;
}

.messenger-chatlist-item {
  height: 75px;
  width: 370px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px 0 15px;
  margin: 0 0 10px 0;
  transform: translate3d(0, 0, 0);
  transition: transform @regularEasing, opacity @regularEasing;
}

.messenger-chatlist-item--isOnline:after {
  content: "";
  position: absolute;
}

.messenger-chat-list--hidden .messenger-chatlist-item {
  transform: translate3d(-30%, 0, 0) scale(1);
  opacity: 0;
}

.chatlist-item-image {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.28);
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}

.messenger-chat-image {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.28);
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform @bouncyEasing;
  position: absolute;
  z-index: 999;
  display: block;
  top: 0;
  left: 15px;
  z-index: 900;
  opacity: 1;
}

.messenger-chat-image.messenger-chat-image--shown  {
  opacity: 1;
  transform: scale(.8) translate3d(475px, 3px, 0);
}

.messenger-chat-images {
  position: absolute;
  z-index: 999;
  transform: translate3d(0, 0, 0);
  transition: transform @regularEasing;
}

.messenger-chat-images.messenger-chat-images--hidden {
  transform: translate3d(-75px, 0, 0);
  transition-delay: .1s;
}

.messenger-chat-image--1{
  transform: translate3d(0, 91px, 0);
}

.messenger-chat-image--2{
  transform: translate3d(0, 176px, 0);
}

.messenger-chat-image--3{
  transform: translate3d(0, 261px, 0);
}

.messenger-chat-image--4{
  transform: translate3d(0, 346px, 0);
}

.messenger-chat-image--5{
  transform: translate3d(0, 431px, 0);
}

.messenger-chat-image--6{
  transform: translate3d(0, 516px, 0);
}

.chatlist-item-textWrap {
  width: 260px;
  margin: 0 0 0 13px;
}


.chatlist-item-name {
  font-size: 15px;
}

.chatlist-item-text {
  color: @mutedTextColor;
  font-family: Avenir-Book;
  font-size: 14px;
  margin: 2px 0 0 0;
}


.messenger-single-chat {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: transparent;
  width: 375px;
  height: 600px;
  display: flex;
  flex-direction: column;
  transition: transform @regularEasing, opacity @regularEasing;
}

.messenger-single-chat.messenger-single-chat--hidden {
  transform: translate3d(30%, 0, 0);
  opacity: 0;
}


.messenger-single-chat.messenger-single-chat--shown {
  transform: translate3d(0, 0, 0);
  opacity: 1
}

.messenger-textInput {
  position: absolute;
  bottom: 0;
  background-color: @bgColorLight;
  border-top: 1px solid #F1F5F6;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-family: Avenir-Book;
  width: 375px;
  padding: 0 15px;
  color: @mutedTextColor;
}

.messenger-groups {
  position: absolute;
  background-color: transparent;
  padding: 80px 0 0 0;
  width: 375px;
  bottom: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.messenger-group-messages {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  padding: 0 15px;
}

.messenger-message {
  max-width: 260px;
  margin: 5px 0;
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform @regularEasing, opacity @regularEasing;
}

.messenger-message-text {
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 14px;
  max-width: 260px;
  margin: 5px 0;
  font-family: Avenir-Book;
}

.messenger-message-status {
  text-align: right;
  float: right;
  font-size: 11px;
  color: @mutedTextColor;
  opacity: .8;
  background-repeat: no-repeat;
  background-size: 9px 7px;
  padding: 0 0 0 14px;
  background-position: left center;
}

.messenger-message-status.messenger-message-status--delivered {
  background-image: url(./delivered.svg);
}

.messenger-message-status.messenger-message-status--seen {
  background-image: url(./seen.svg);
}

.messenger-message.messenger-message--incoming{
  align-self: flex-start;
  transform: translate3d(10%, -0%, 0) scale(1) rotate(0deg);
  transition-delay: .16s;
}

.messenger-message.messenger-message--outgoing {
  align-self: flex-end;
  transform: translate3d(0%, -0%, 0) scale(1) rotate(0deg);

}

.messenger-single-chat--shown .messenger-message.messenger-message--incoming,
.messenger-single-chat--shown .messenger-message.messenger-message--outgoing {
  transform: translate3d(0, 0, 0) scale(1) rotate(0deg);
}

.messenger-message--incoming .messenger-message-text {
  background-color:@bgColorLighter;
  align-self: flex-start;
}

.messenger-message--outgoing .messenger-message-text {
  background-color: @activeColor;
  color: white;
  align-self: flex-end;
}

.messenger-group-date {
  font-family: Avenir-Roman;
  font-size: 11px;
  color: @mutedTextColor;
  letter-spacing: 1px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  opacity: .8
}



@-webkit-keyframes hideItem {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(.5);
    }
}

@keyframes showOverlay {
  10% {
    opacity: .3;
    transform:scale(2);
  }

  100% {
    opacity: 0;
    transform:scale(230);
  }
}
