@bouncyEasing: .5s ease;
@regularEasing: .4s ease;

//Colors 1
@bgColor: #FBF6E3;
@bgColorLight: #FBF6E3;
@bgColorLighter: #FBF6E3;

@mainTextColor: #4A5258;
@mutedTextColor: #AAB2B2;

@activeColor: #D3EEEF;
@secondaryColor: #F9F3DE;

*{
  box-sizing: border-box;
}

body {
  background-color: @bgColor;
  color: @mainTextColor;
  margin: 30px;
  font-family: Avenir-Medium;
}

.controls {
  position: absolute;
  left: 20px;
  top: 20px;
}

.messenger-wrap {
  margin: 0 auto;
  width: 340px;
  height: 580px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
}

.messenger-shadow {
  position: absolute;
  opacity: 1;
  top: 0px;
  left: 50%;
  margin: 0 0 0 -200px;
  width: 400px;
  height: 655px;
  z-index: 0;
  background-color: transparent;
  background-size: 400px 655px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./sh2.png);
}

.messenger-wrap-inner {
  width: 340px;
  height: 580px;
  border-radius: 5px;
}

.messenger-header {
  height: 58px;
  width: 340px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 9px 0px #E3E2E0;
}

.messenger-header-title{
  position: absolute;
  width: 200px;
  left: 50%;
  top: 18px;
  margin: 0 0 0 -100px;
  font-size: 16px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition-delay: .3s;
  transition: all @regularEasing;
}

.messenger-header-chatName {
  position: absolute;
  width: 200px;
  left: 50%;
  top: 10px;
  margin: 0 0 0 -100px;
  font-size: 16px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: all @regularEasing;
}

.messenger-header-user {
  position: absolute;
  right: 15px;
  top: 22px;
  width: 12px;
  height: 15px;
  background-image: url(./user.svg);
  background-size: 12px 15px;
  background-repeat: no-repeat;
  transform: translate3d(0, 0, 0);
  transition: all @regularEasing;
}

.messenger-header-user.messenger-header-user--hidden {
  transform: translate3d(-20px, 0, 0);
  opacity: 0;
}

.messenger-header-image {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  right: 10px;
  top: 9px;
  background-color: red;
  background-image: url(/trent.png);
  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.18);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all @regularEasing;
  transition-delay: .14s;
}

.messenger-header-image--hidden {
  transition-delay: .1s;
  transform: translate3d(40px, 0, 0);
  opacity: 0;
}

.messenger-header-title--hidden{
  opacity: 0;
  transform: translate3d(-40px, 0, 0);
}

.messenger-header-chatName--hidden {
  opacity: 0;
  transform: translate3d(40px, 0, 0);
}

.messenger-header-chatName-status {
  font-size: 13px;
  font-family: avenir-roman;
  color: @mutedTextColor;
}

.messenger-header-icon {
  width: 17px;
  position: absolute;
  left: 15px;
  top: 22px;
  transform: translate3d(0, 0, 0);
}

.messenger-header-icon .line {
  height: 2px;
  width: 13px;
  border-radius: 5px;
  margin: 2px 0;
  background-color: #6BC6C8;
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all .2s linear;
}

.messenger-header-icon .line.line-1 {
  transform: scaleX(.8) translate3d(-1.5px, 0, 0)
}

.messenger-header-icon .line.line-2 {
  transform: scaleX(.5) translate3d(-6px, 0, 0)
}

.messenger-header-icon .line.line-3 {
  transform: scaleX(1)
}


.messenger-header-icon--back .line.line-1 {
  transform: rotate(-40deg);
}

.messenger-header-icon--back .line.line-2 {
  opacity: 0;
}

.messenger-header-icon--back .line.line-3 {
  transform: rotate(40deg);
}

.messenger-chat-list {
  display: block;
  background-color: white;
  padding: 70px 0 0 0;
  width: 340px;
  height: 580px;
  transform: translate3d(0, 0, 0);
  position: relative;
  border-radius: 5px;
}

.messenger-chatlist-item {
  height: 75px;
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px 0 15px;
  margin: 0 0 10px 0;
  transform: translate3d(0, 0, 0);
  transition-delay: .4s;
  transition: transform @regularEasing, opacity @regularEasing;
}

.messenger-chat-list--hidden .messenger-chatlist-item {
  transform: translate3d(-30%, 0, 0) scale(1);
  opacity: 0;
}

.chatlist-item-image {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.18);
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}

.messenger-chat-image {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.18);
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform @bouncyEasing;
  position: absolute;
  z-index: 999;
  display: block;
  top: 0;
  left: 15px;
  z-index: 900;
  opacity: 1;
}

.messenger-chat-image--isOnline:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #54E1AD;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 4px 0px #6FEBBD;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.28);
}

.messenger-chat-image.messenger-chat-image--shown  {
  opacity: 1;
  //transform: scale(.8) translate3d(475px, 3px, 0);
}

.messenger-chat-images {
  position: absolute;
  z-index: 999;
  transform: translate3d(0, 0, 0);
  transition: transform @regularEasing, opacity @regularEasing;
  transition-delay: .14s;
}

.messenger-chat-images.messenger-chat-images--hidden {
  transform: translate3d(-75px, 0, 0);
  transition-delay: .14s;
  opacity: 0;
}

.messenger-chat-image--1{
  transform: translate3d(0, 81px, 0);
}

.messenger-chat-image--2{
  transform: translate3d(0, 166px, 0);
}

.messenger-chat-image--3{
  transform: translate3d(0, 251px, 0);
}

.messenger-chat-image--4{
  transform: translate3d(0, 334px, 0);
}

.messenger-chat-image--5{
  transform: translate3d(0, 420px, 0);
}

.messenger-chat-image--6{
  transform: translate3d(0, 505px, 0);
}

.chatlist-item-textWrap {
  width: 260px;
  margin: 0 0 0 20px;
  position: relative;
}

.chatlist-item-name {
  font-size: 15px;
}

.chatlist-item-text {
  color: @mutedTextColor;
  font-family: Avenir-Roman;
  font-size: 14px;
  margin: 2px 0 0 0;
  padding: 0 10px 0 0;
}

.chatlist-item-time {
  position: absolute;
  text-align: right;
  right: -20px;
  top: 0;
  font-family: Avenir-roman;
  text-transform: uppercase;
  font-size: 11px;
  color: @mutedTextColor;
  letter-spacing: 1px;
  line-height: 15px;
  background-repeat: no-repeat;
  background-size: 9px 7px;
  padding: 0 0 0 14px;
  background-position: left center;
}


.chatlist-item-time.chatlist-item-time--seen {
  background-image: url(./seen2.svg);
}

.chatlist-item-time.chatlist-item-time--delivered {
  background-image: url(./delivered2.svg);
}


.chatlist-item-hasNew {
  position: absolute;
  text-align: right;
  right: -20px;
  bottom: 0;
  width: 18px;
  height: 18px;
  font-family: Avenir-roman;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  line-height: 19px;
  border-radius: 50%;
  text-align: center;
  background: #6BC6C8;
  //box-shadow: 0px 2px 4px 0px #6FEBBD;
}
.chatlist-item-hasNew--hidden {
  opacity: 0;
}

.messenger-single-chat {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: transparent;
  width: 340px;
  height: 580px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: transform @regularEasing, opacity @regularEasing;
}

.messenger-single-chat.messenger-single-chat--hidden {
  transform: translate3d(30%, 0, 0);
  opacity: 0;
}

.messenger-single-chat.messenger-single-chat--shown {
  transform: translate3d(0, 0, 0);
  opacity: 1
}

.messenger-textInput {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #E5F5F6;
  //border: 1px solid #D3EEEF;
  height: 40px;
  line-height: 42px;
  font-size: 14px;
  font-family: Avenir-Roman;
  width: 320px;
  padding: 0 45px;
  border-radius:5px 5px;
  color: #9CBFC0;
}

.messenger-textInput-icon {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.messenger-textInput-icon--mic {
  top: 11px;
  left: 14px;
  width: 13px;
  height: 20px;
  background-image: url(./mic2.svg);
}

.messenger-textInput-icon--att {
  opacity: 1;
  top: 14px;
  right: 16px;
  width: 17px;
  height: 14px;
  background-image: url(./att3.svg);
}

.messenger-textInput-icon--smile {
  top: 12px;
  right: 53px;
  width: 18px;
  height: 18px;
  background-image: url(./smile2.svg);
}

.messenger-groups {
  position: absolute;
  background-color: transparent;
  padding: 80px 0 20px 0;
  width: 340px;
  bottom: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.messenger-group-messages {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  padding: 0 15px;
}

.messenger-message {
  max-width: 260px;
  margin: 5px 0;
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform @regularEasing, opacity @regularEasing;
}

.messenger-message-text {
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 14px;
  max-width: 260px;
  margin: 5px 0;
  font-family: Avenir-Roman;
}

.messenger-message--audio .messenger-message-text {
  padding: 14px 10px;
}

.messenger-message-playButton {
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left center;
  background-image: url(./play.svg);
  box-shadow: 0px 2px 4px 0px rgba(237,138,125,0.60);
  border-radius: 50%;
}

.messenger-message-timeline {
  display: inline-block;
  vertical-align: middle;
  margin:  0 0 5px 10px;
  width: 120px;
  height: 2px;
  background-color: #EC7262;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(218,131,120,0.43);
}

.messenger-message-timeline-position {
  position: absolute;
  left: 0;
  top: -4px;
  height: 10px;
  width: 2px;
  background-color: #4A5258;
}

.messenger-message-timeline-duration {
  position: absolute;
  left: 0;
  top: 8px;
  font-family: Avenir-Roman;
  font-size: 11px;
  color: @mainTextColor;
  letter-spacing: 1px;
  line-height: 15px;
  text-transform: uppercase;
}

.messenger-message-status {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: -14px;
  font-size: 11px;
  color: @mutedTextColor;
  opacity: .8;
  background-repeat: no-repeat;
  background-size: 9px 7px;
  padding: 0 0 0 14px;
  background-position: left center;
}

.messenger-message-status.messenger-message-status--delivered {
  background-image: url(./delivered2.svg);
  opacity: .6;
}

.messenger-message-status.messenger-message-status--seen {
  background-image: url(./seen2.svg);
  opacity: .6;
}

.messenger-message.messenger-message--incoming{
  align-self: flex-start;
  transform: translate3d(15%, -0%, 0) scale(1) rotate(0deg);
  transition-delay: .14s;
}

.messenger-message.messenger-message--incoming{
  transition-delay: .14s;
}

.messenger-message.messenger-message--outgoing {
  align-self: flex-end;
  transform: translate3d(0%, -0%, 0) scale(1) rotate(0deg);
}

.messenger-single-chat--shown .messenger-message.messenger-message--incoming,
.messenger-single-chat--shown .messenger-message.messenger-message--outgoing {
  transform: translate3d(0, 0, 0) scale(1) rotate(0deg);
}

.messenger-message--incoming .messenger-message-text {
  background-color:@bgColorLighter;
  align-self: flex-start;
}

.messenger-message--outgoing .messenger-message-text {
  background-color: @activeColor;
  color: @mainTextColor;
  align-self: flex-end;
}

.messenger-group-date {
  font-family: Avenir-Roman;
  font-size: 11px;
  color: @mutedTextColor;
  letter-spacing: 1px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  opacity: .8
}



@-webkit-keyframes hideItem {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(.5);
    }
}

@keyframes showOverlay {
  10% {
    opacity: .3;
    transform:scale(2);
  }

  100% {
    opacity: 0;
    transform:scale(230);
  }
}
