@bouncyEasing: .5s ease;
@regularEasing: .4s ease;

//Colors 1
@bgColor: #FFF;

@mainTextColor: #4A5258;
@mutedTextColor: #AAB2B2;

@activeColor: #D3EEEF;
@secondaryColor: #F9F3DE;

*{
  box-sizing: border-box;
}

body {
  background-color: @bgColor;
  color: @mainTextColor;
  margin: 30px;
  font-family: Avenir-Medium;
}

.controls {
  position: absolute;
  left: 20px;
  top: 20px;
}
